In [1]:
import numpy as np 
import pandas as pd 
import math

In [3]:
print(f"Ghost_real : {len(df_G_Real)}, Unique MATCLE : {len(df_G_Real['MATCLE'].unique())},  Unique 10.000 : {len(df_G_Real.iloc[:5000,17].unique())}")
print(f"Time_real : {len(df_T_Real)}, Unique MATCLE : {len(df_T_Real['MATCLE'].unique())},  Unique 10.000 : {len(df_T_Real.iloc[:5000,10].unique())}")
print(f"Misc_real : {len(df_M_Real)}, Unique MATCLE : {len(df_M_Real['MATCLE'].unique())},  Unique 10.000 : {len(df_M_Real.iloc[:5000,21].unique())}")

Ghost_real : 926366, Unique MATCLE : 6590,  Unique 10.000 : 207
Time_real : 701441, Unique MATCLE : 14422,  Unique 10.000 : 436
Misc_real : 60228, Unique MATCLE : 42124,  Unique 10.000 : 2631

(48-57) : numbers

(65-90) : uppercase

(97-122) : lowercase

In [3]:
# def anonym(MAT) :
#     ascii_codes = [ord(char) for char in MAT]
#     encoding_n = ascii_codes[:]
#     print(ascii_codes[0])
#     if (ascii_codes[0] in range(65,90)) :
#         encoding_n[0] = int((100*math.log(ascii_codes[0])/6 ) +5)
#         print('lett')
#     else : 
#         encoding_n[0] = int((100*math.log(ascii_codes[0])/7 ) +1)
#         print('nbr')

#     for i in range(1,6):
#         encoding_n[i]=(int((100*math.log(ascii_codes[i])/7)-1)-i)
#         print(f'done{i}')
       

#     for j,e in enumerate(encoding_n) : 
#         print(j,e,'\\')
      
#     print('\n ----')
    
    
#     #result = [chr(code) for code in encoding_n ]
#     f_result = ''.join(chr(code) for code in encoding_n)
#     return f_result

# Full Pipeline for Fraud & Real Data

We will define a set of functions that perform data preparation in a Final Usable state for the classifier models.
We define these steps for each Fraud type Data : 
- Anonymization step of Batch Fraud data
- Formatting of Batch Fraud Data label (Fraud column values)
- Appending Batch Fraud Data to last update Clean Fraud Data
- Creating a 1/5 balanced dataset of Fraud data + Real data, based on DataFrames input


INPUT : 
- DataFrame of Fraud data type i (raw generated in csv format)
- DataFrame of Fraud data type i (anonymized full usable data)

## Anonymization Functions

In [2]:
## GHOST & TIMESHEET DATA

def encodePersonID_Gh_Time(df,L) :
    if len(df['PersonID'].unique())>len(L) :
        return 'Not enough IDs to assign to dataset'
    i=0
    j=0
    k=-1
    while i <len(df) : 
        val = df.iloc[i,0]
        k+=1
        print(k)
        while j<len(df) and val == df.iloc[j,0] : 
            df.iloc[j,0] = L.iloc[k,0]
            j+=1
        i=j
        # L.iloc[1:].reset_index(drop=True)
        # L.tail(-1).reset_index(drop=True, inplace = True)
        L.drop(index=L.index[0]).reset_index(drop=True)
        # print(f" i,j = {i,j} , val[i] = {val},  , L value =  {L.iloc[i,0]} , df id value =  {df.iloc[i,0]}" )
    return df,L.iloc[k:,]
    # return df,L

In [16]:
## Misclass

def encodePersonID_Misc(df,L) : 
    for i in range(len(df)) :
        # print(f" i = {i} , L size =  {L.iloc[i,0]} , df size =  {df.iloc[i,0]}" )
        df.iloc[i,0] = L.iloc[i,0]
        # L.iloc[1:].reset_index(drop=True)
        # L.tail(-1).reset_index(drop=True, inplace = True)
        L.drop(index=L.index[0]).reset_index(drop=True)
        print(L.shape)
    return df,L.iloc[len(df):,]
    # return df,L

## Main Process Functions

In [4]:
# GHOST & TIMESHEET

def append_Last_Update_Fraud_GH_Time(df_fraud_new,df_Fraud_last_update,df_real_data,L,Fraud_Type) : 
    df_anonym, L_upd = encodePersonID_Gh_Time(df_fraud_new, L)

    # Modifications on Fraud data
    df_anonym.columns = df_anonym.columns.str.strip()
    if 'Explanation' in df_anonym.columns : 
        df_anonym.drop('Explanation', inplace=True, axis=1)
    if 'Explanation' in df_Fraud_last_update.columns : 
        df_Fraud_last_update.drop('Explanation', inplace=True, axis=1)

    
    # Labelization
    if Fraud_Type == "Ghost" : 
        df_anonym["Fraud"] = 1
        df_Fraud_last_update["Fraud"] = 1
    elif Fraud_Type == "Timesheet" : 
        df_anonym["Fraud"] = 2
        df_Fraud_last_update["Fraud"] = 2

    # Labelization real data
    if 'Fraud' not in df_real_data.columns : 
        df_real_data["Fraud"] = 0
    
    # Appending to latest update fraud data
    df_Fraud_upd = pd.concat([df_anonym,df_Fraud_last_update],ignore_index= True)
    
    # Appending to Real data
    n = df_Fraud_upd.shape[0]*5
    print(n)
    df_full = pd.concat([df_Fraud_upd,df_real_data.iloc[:n,:]],ignore_index= True)

    return L_upd, df_Fraud_upd, df_full

In [17]:
# Misclassif

def append_Last_Update_Fraud_Misc(df_fraud_new,df_Fraud_last_update,df_real_data,L) : 
    df_anonym, L_upd = encodePersonID_Misc(df_fraud_new, L)
    print(L.shape)
    
    # Treatments for json file
    df_anonym.columns = df_anonym.columns.str.strip()
    if 'Explanation' in df_anonym.columns : 
        df_anonym.drop('Explanation', inplace=True, axis=1)
    # df_anonym.drop('Position', inplace=True, axis=1)
    
    # Labelization
    df_anonym["Fraud"] = 3

    # Appending to latest update fraud data
    df_Fraud_upd_M = pd.concat([df_anonym,df_Fraud_last_update],ignore_index= True)
    
    # Appending to Real data
    n = df_Fraud_upd_M.shape[0]*5
    df_full_M = pd.concat([df_Fraud_upd_M,df_real_data.iloc[:n,:]],ignore_index= True)

    # Saving
    L_upd.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\L_upd_M2.csv",index=False)
    df_Fraud_upd_M.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\upd_M_2.csv",index=False)
    df_full_M.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_full\df_full_M2.csv",index=False)
    
    return L_upd, df_Fraud_upd_M, df_full_M

# Pipeline Execution

## Ghost Fraud

### Load

In [108]:
file_name_g = "G2-5-6"
# file_name_g = "json_ghost"

In [109]:
## Load New Fraud Data
path_fr_g=r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\1. ADAPT-LLM\Data_Fraud\Fraud_Clean_data_pre-anon\Ghost\\"
df_fraud_new_g = pd.read_json(path_fr_g + file_name_g + ".json")

In [110]:
## Load real data
df_real_G = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\Anonym Real Data\df_G_Real_anonym.csv")
## Load Last updates
df_fraud_last_upd_g = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\Archive\upd_G_1.csv")
L_G = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\ArchiveBis\L_upd_G_1.csv")

### Process

In [115]:
L_upd_G

      Coded
39   700074
40   700075
41   700076
42   700077
43   700078
..      ...
960  700995
961  700996
962  700997
963  700998
964  700999

[926 rows x 1 columns]

In [111]:
L_upd_G, df_Fraud_upd_G, df_full_G = append_Last_Update_Fraud_GH_Time(df_fraud_new_g, df_fraud_last_upd_g, df_real_G, L_G,"Ghost")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
3605

In [112]:
df_full_G

,PersonID,Document_Type,Document_name,Documents_Deposit,Deposit_Platform,Absence_CODE,Absence_Reason,Seniority_in_Group (in days),Leave_Date,Physical_Leave,...,MOTIFA,SEN_GRP_DUR_int,DATSOR,PHYSOR,DATFIN,DATENT,QUALIT,IDCY00,IDXCOM,MATCLE
0,700035.0,DOC11,Bank account number,Scanned & Validated,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,700035.0,DOC01,Work Contract,No deposit,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,700035.0,DOC02,Birth Certificate,No deposit,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,700035.0,DOC01,Work Contract,Scanned & Validated,F,ABS,Unjustified Absence,500.0,31/12/2050,31/12/2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,700035.0,DOC13,Marriage Certificate copy,Scanned & Validated,F,ABS,Unjustified Absence,500.0,31/12/2050,31/12/2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAN,10288.0,2050-12-31 01:00:00,2050-12-31 23:00:00,2023-01-09 01:00:00,2022-10-31 01:00:00,Mrs,TWW,Unspecified,40871.0
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAN,1771.0,2021-03-01 01:00:00,2050-12-31 23:00:00,2023-01-09 01:00:00,2016-04-25 01:00:00,Mrs,TWW,Unspecified,40872.0
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAN,10288.0,2050-12-31 01:00:00,2050-12-31 23:00:00,2023-01-09 01:00:00,2022-10-31 01:00:00,Mrs,TWW,Unspecified,40872.0
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAN,1771.0,2021-03-01 01:00:00,2050-12-31 23:00:00,2023-01-09 01:00:00,2016-04-25 01:00:00,Mrs,TWW,Unspecified,40873.0
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAN,10288.0,2050-12-31 01:00:00,2050-12-31 23:00:00,2023-01-09 01:00:00,2022-10-31 01:00:00,Mrs,TWW,Unspecified,40873.0

In [113]:
df_Fraud_upd_G

,PersonID,Document_Type,Document_name,Documents_Deposit,Deposit_Platform,Absence_CODE,Absence_Reason,Seniority_in_Group (in days),Leave_Date,Physical_Leave,...,CODSOR,Current_company,Leave_Reason,Transfer_Reason,Transfer_company,Leave_DATE,Fraud,ID,Seniority_in_Group,Transfer_Reason
0,700035,DOC11,Bank account number,Scanned & Validated,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,Currently IN,EXM,FPE,Not Transferred,UNSPECFIED,NaN,1,NaN,NaN,NaN
1,700035,DOC01,Work Contract,No deposit,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,Currently IN,EXM,FPE,Not Transferred,UNSPECFIED,NaN,1,NaN,NaN,NaN
2,700035,DOC02,Birth Certificate,No deposit,F,ABS,Unjustified Absence,100.0,31/12/2050,31/12/2050,...,Currently IN,EXM,FPE,Not Transferred,UNSPECFIED,NaN,1,NaN,NaN,NaN
3,700035,DOC01,Work Contract,Scanned & Validated,F,ABS,Unjustified Absence,500.0,31/12/2050,31/12/2050,...,Currently IN,EXM,DEM,Not Transferred,UNSPECFIED,NaN,1,NaN,NaN,NaN
4,700035,DOC13,Marriage Certificate copy,Scanned & Validated,F,ABS,Unjustified Absence,500.0,31/12/2050,31/12/2050,...,Currently IN,EXM,DEM,Not Transferred,UNSPECFIED,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,700028,DOC11,Bank account number,Scanned & Validated,O,1000,Absence Entry/Leave,180.0,31/12/2050,31/12/2050,...,Currently IN,EXM,PROB,NaN,UNSPECFIED,NaN,1,NaN,NaN,Not Transferred
717,700028,DOC08,Certified Copy of National ID Card,Scanned & Validated,O,NaN,Unjustified Absence,200.0,31/12/2050,31/12/2050,...,Currently IN,EXM,Currently IN,NaN,UNSPECFIED,NaN,1,NaN,NaN,Not Transferred
718,700028,DOC01,Work Contract,Scanned & Validated,O,ABS,Unjustified Absence,200.0,31/12/2050,31/12/2050,...,Currently IN,EXM,DEM,NaN,UNSPECFIED,NaN,1,NaN,NaN,Not Transferred
719,700028,DOC07,Certified Diploma copy,Scanned & Validated,O,ABS,Unjustified Absence,200.0,31/12/2050,31/12/2050,...,Currently IN,EXM,DEM,NaN,UNSPECFIED,NaN,1,NaN,NaN,Not Transferred
720,700028,DOC01,Work Contract,Scanned & Validated,O,ABS,Unjustified Absence,200.0,31/12/2050,31/12/2050,...,Currently IN,EXM,DEM,NaN,UNSPECFIED,NaN,1,NaN,NaN,Not Transferred

### Save updates

In [116]:
L_upd_G.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\L_upd_G_2.csv",index=False)
df_Fraud_upd_G.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\upd_G_2.csv",index=False)
df_full_G.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_full\df_full_G_2.csv",index=False)

## Timesheet Fraud

### Load

In [88]:
file_name_t = "T1-2-19-24-3-4-15-8-9-17-18"
# file_name_t = "T6&10_plus_models_testing_kpis_output"

In [89]:
## Load New Fraud Data
path_fr_t= r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\1. ADAPT-LLM\Data_Fraud\Fraud_Clean_data_pre-anon\Timesheet\\"
# df_fraud_new_t = pd.read_csv(path_fr_t+file_name_t+".csv")
df_fraud_new_t = pd.read_json(path_fr_t+file_name_t+".json")

In [90]:
df_fraud_new_t

,PersonID,SOURCE,Payroll_Period,Absence_Reason,Absence_CODE,Absence_Start_Date,Absence_End_Date,Absence_Duration,Acquired_Leave_days,Taken_Leave_days,Remaining_Leave_days,Following_year_reported_Leave,Explanation
0,500001,R,03/2023,Payed Leave,CPN,10/03/2023,14/03/2023,5.0,NaN,47,2,1.0,The employee is marked as having taken 5 paid ...
1,500005,R,02/2023,Sick Leave,MAL,12/02/2023,15/02/2023,3.0,20.0,3,17,0.0,"This employee has 20 acquired leave days, his ..."
2,500004,R,02/2023,Sick Leave,MAL,02/02/2023,06/02/2023,4.0,20.0,4,16,0.0,"This employee has 20 acquired leave days, his ..."
3,123456,R,08/2023,Payed Leave,CPN,05/08/2023,12/08/2023,8.0,18.0,8,10,0.0,None
4,654321,R,08/2023,Payed Leave,CPN,20/08/2023,27/08/2023,8.0,10.0,8,12,0.0,"This employee has acquired 18 leave days, take..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,500027,STD,04/2023,Sick Leave,MAL,03/04/2023,12/04/2023,9.0,17.8,9,8.8,0.0,NaN
618,500004,R,08/2023,Sick Leave,MAL,01/08/2023,05/08/2023,5.0,20.0,5,15,0.0,NaN
619,500004,R,08/2023,Sick Leave,MAL,12/08/2023,17/08/2023,6.0,20.0,6,9,0.0,NaN
620,500016,STD,07/2023,Payed Leave,CPN,10/07/2023,15/07/2023,6.0,5.0,6,0,2.0,NaN
621,500023,STD,10/2023,Payed Leave,CPN,02/10/2023,04/10/2023,3.0,22.0,3,19,0.0,NaN

In [91]:
df_fraud_last_upd_t

,PersonID,SOURCE,Payroll_Period,Absence_Reason,Absence_CODE,Absence_Start_Date,Absence_End_Date,Absence_Duration,Acquired_Leave_days,Taken_Leave_days,Remaining_Leave_days,Following_year_reported_Leave,Fraud
0,500000,STD,10/2023,Payed Leave,CPN,02/10/2023,04/10/2023,2,22,27,2,0.0,2
1,500001,R,02/2022,Sick Leave,MAL,02/02/2022,06/10/2023,4,24,2,22,0.0,2
2,500002,STD,04/2023,Sick Leave,MAL,03/04/2023,12/04/2023,9,17.8,4,13.8,0.0,2
3,500003,HR,05/2023,Payed Leave,CPN,05/10/2023,05/15/2023,6,18,10,8,0.0,2
4,500004,FIN,06/2023,Sick Leave,MAL,06/01/2023,06/05/2023,5,20,3,17,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,500068,FIN,08/2023,Sick Leave,MAL,05/08/2023,10/08/2023,6,17.0,6,9.0,0.0,2
121,500068,FIN,08/2023,Sick Leave,MAL,15/08/2023,20/08/2023,6,9.0,6,6.0,0.0,2
122,500069,HR,09/2023,Payed Leave,CPN,01/09/2023,01/09/2023,1,16.0,1,15.0,0.0,2
123,500069,HR,09/2023,Payed Leave,CPN,05/09/2023,10/09/2023,6,15.0,6,8.0,0.0,2
124,500069,HR,09/2023,Payed Leave,CPN,15/09/2023,20/09/2023,6,8.0,6,5.0,0.0,2

In [92]:
## Load real data
df_real_T = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\Anonym Real Data\df_T_Real_anonym.csv")
## Load last updates
df_fraud_last_upd_t = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\Archive\upd_T_1.csv")
L_T = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\ArchiveBis\L_upd_T1.csv")

In [94]:
# L_T.iloc[1:].reset_index(drop=True)
L_upd_T

      Coded
480  500610
481  500611
482  500612
483  500613
484  500614
..      ...
865  500995
866  500996
867  500997
868  500998
869  500999

[390 rows x 1 columns]

### Process

In [93]:
L_upd_T, df_Fraud_upd_T, df_full_T = append_Last_Update_Fraud_GH_Time(df_fraud_new_t, df_fraud_last_upd_t, df_real_T, L_T, "Timesheet")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
4670

In [95]:
df_Fraud_upd_T["PersonID"].unique()

array([500130, 500131, 500132, 500133, 500134, 500135, 500136, 500137,
       500138, 500139, 500140, 500141, 500142, 500143, 500144, 500145,
       500146, 500147, 500148, 500149, 500150, 500151, 500152, 500153,
       500154, 500155, 500156, 500157, 500158, 500159, 500160, 500161,
       500162, 500163, 500164, 500165, 500166, 500167, 500168, 500169,
       500170, 500171, 500172, 500173, 500174, 500175, 500176, 500177,
       500178, 500179, 500180, 500181, 500182, 500183, 500184, 500185,
       500186, 500187, 500188, 500189, 500190, 500191, 500192, 500193,
       500194, 500195, 500196, 500197, 500198, 500199, 500200, 500201,
       500202, 500203, 500204, 500205, 500206, 500207, 500208, 500209,
       500210, 500211, 500212, 500213, 500214, 500215, 500216, 500217,
       500218, 500219, 500220, 500221, 500222, 500223, 500224, 500225,
       500226, 500227, 500228, 500229, 500230, 500231, 500232, 500233,
       500234, 500235, 500236, 500237, 500238, 500239, 500240, 500241,
       500242, 500243, 500244, 500245, 500246, 500247, 500248, 500249,
       500250, 500251, 500252, 500253, 500254, 500255, 500256, 500257,
       500258, 500259, 500260, 500261, 500262, 500263, 500264, 500265,
       500266, 500267, 500268, 500269, 500270, 500271, 500272, 500273,
       500274, 500275, 500276, 500277, 500278, 500279, 500280, 500281,
       500282, 500283, 500284, 500285, 500286, 500287, 500288, 500289,
       500290, 500291, 500292, 500293, 500294, 500295, 500296, 500297,
       500298, 500299, 500300, 500301, 500302, 500303, 500304, 500305,
       500306, 500307, 500308, 500309, 500310, 500311, 500312, 500313,
       500314, 500315, 500316, 500317, 500318, 500319, 500320, 500321,
       500322, 500323, 500324, 500325, 500326, 500327, 500328, 500329,
       500330, 500331, 500332, 500333, 500334, 500335, 500336, 500337,
       500338, 500339, 500340, 500341, 500342, 500343, 500344, 500345,
       500346, 500347, 500348, 500349, 500350, 500351, 500352, 500353,
       500354, 500355, 500356, 500357, 500358, 500359, 500360, 500361,
       500362, 500363, 500364, 500365, 500366, 500367, 500368, 500369,
       500370, 500371, 500372, 500373, 500374, 500375, 500376, 500377,
       500378, 500379, 500380, 500381, 500382, 500383, 500384, 500385,
       500386, 500387, 500388, 500389, 500390, 500391, 500392, 500393,
       500394, 500395, 500396, 500397, 500398, 500399, 500400, 500401,
       500402, 500403, 500404, 500405, 500406, 500407, 500408, 500409,
       500410, 500411, 500412, 500413, 500414, 500415, 500416, 500417,
       500418, 500419, 500420, 500421, 500422, 500423, 500424, 500425,
       500426, 500427, 500428, 500429, 500430, 500431, 500432, 500433,
       500434, 500435, 500436, 500437, 500438, 500439, 500440, 500441,
       500442, 500443, 500444, 500445, 500446, 500447, 500448, 500449,
       500450, 500451, 500452, 500453, 500454, 500455, 500456, 500457,
       500458, 500459, 500460, 500461, 500462, 500463, 500464, 500465,
       500466, 500467, 500468, 500469, 500470, 500471, 500472, 500473,
       500474, 500475, 500476, 500477, 500478, 500479, 500480, 500481,
       500482, 500483, 500484, 500485, 500486, 500487, 500488, 500489,
       500490, 500491, 500492, 500493, 500494, 500495, 500496, 500497,
       500498, 500499, 500500, 500501, 500502, 500503, 500504, 500505,
       500506, 500507, 500508, 500509, 500510, 500511, 500512, 500513,
       500514, 500515, 500516, 500517, 500518, 500519, 500520, 500521,
       500522, 500523, 500524, 500525, 500526, 500527, 500528, 500529,
       500530, 500531, 500532, 500533, 500534, 500535, 500536, 500537,
       500538, 500539, 500540, 500541, 500542, 500543, 500544, 500545,
       500546, 500547, 500548, 500549, 500550, 500551, 500552, 500553,
       500554, 500555, 500556, 500557, 500558, 500559, 500560, 500561,
       500562, 500563, 500564, 500565, 500566, 500567, 500568, 500569,
       500570, 500571, 500572, 500573, 500574, 500575, 500576, 500577,
       500578, 500579, 500580, 500581, 500582, 500583, 500584, 500585,
       500586, 500587, 500588, 500589, 500590, 500591, 500592, 500593,
       500594, 500595, 500596, 500597, 500598, 500599, 500600, 500601,
       500602, 500603, 500604, 500605, 500606, 500607, 500608, 500609,
       500610, 500000, 500001, 500002, 500003, 500004, 500005, 500006,
       500007, 500008, 500009, 500010, 500011, 500012, 500013, 500014,
       500015, 500016, 500017, 500018, 500019, 500020, 500021, 500022,
       500023, 500024, 500025, 500026, 500027, 500028, 500029, 500030,
       500031, 500032, 500033, 500034, 500035, 500036, 500037, 500038,
       500039, 500040, 500041, 500042, 500043, 500044, 500045, 500046,
       500047, 500048, 500049, 500050, 500051, 500052, 500053, 500054,
       500055, 500056, 500057, 500058, 500059, 500060, 500061, 500062,
       500063, 500064, 500065, 500066, 500067, 500068, 500069, 500070,
       500071, 500072, 500073, 500074, 500075, 500076, 500077, 500078,
       500079, 500080, 500081, 500082, 500083, 500084, 500085, 500086,
       500087, 500088, 500089, 500090, 500091, 500092, 500093, 500094,
       500095, 500096, 500097, 500098, 500099, 500100, 500101, 500102,
       500103, 500104, 500105, 500106, 500107, 500108, 500109, 500110,
       500111, 500112, 500113, 500114, 500115, 500116, 500117, 500118,
       500119, 500120, 500121, 500122, 500123, 500124, 500125, 500126,
       500127, 500128, 500129], dtype=int64)

In [68]:
df_full_T.columns

Index(['PersonID', 'SOURCE', 'Payroll_Period', 'Absence_Reason',
       'Absence_CODE', 'Absence_Start_Date', 'Absence_End_Date',
       'Absence_Duration', 'Acquired_Leave_days', 'Taken_Leave_days',
       'Remaining_Leave_days', 'Following_year_reported_Leave', 'Fraud',
       'MATCLE'],
      dtype='object')

In [96]:
df_full_T

,PersonID,SOURCE,Payroll_Period,Absence_Reason,Absence_CODE,Absence_Start_Date,Absence_End_Date,Absence_Duration,Acquired_Leave_days,Taken_Leave_days,Remaining_Leave_days,Following_year_reported_Leave,Fraud,MATCLE
0,500130.0,R,03/2023,Payed Leave,CPN,10/03/2023,14/03/2023,5.0,NaN,47,2,1.0,2,NaN
1,500131.0,R,02/2023,Sick Leave,MAL,12/02/2023,15/02/2023,3.0,20.0,3,17,0.0,2,NaN
2,500132.0,R,02/2023,Sick Leave,MAL,02/02/2023,06/02/2023,4.0,20.0,4,16,0.0,2,NaN
3,500133.0,R,08/2023,Payed Leave,CPN,05/08/2023,12/08/2023,8.0,18.0,8,10,0.0,2,NaN
4,500134.0,R,08/2023,Payed Leave,CPN,20/08/2023,27/08/2023,8.0,10.0,8,12,0.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5599,NaN,R,"""MT202301""",Payed Leave,CPN,2022-12-28 01:00:00,2022-12-28 01:00:00,0.0,18.0,8.5,0.0,9.5,0,20293.0
5600,NaN,R,"""MT202301""",Payed Leave,CPN,2022-12-28 01:00:00,2022-12-28 01:00:00,0.0,18.0,14.0,0.0,13.5,0,20293.0
5601,NaN,R,"""MT202301""",Payed Leave,CPN,2022-12-28 01:00:00,2022-12-28 01:00:00,0.0,18.0,6.0,0.0,25.5,0,20293.0
5602,NaN,R,"""MT202301""",Payed Leave,CPN,2022-12-28 01:00:00,2022-12-28 01:00:00,0.0,18.0,22.0,0.0,21.5,0,20293.0
5603,NaN,R,"""MT202301""",Payed Leave,CPN,2022-12-28 01:00:00,2022-12-28 01:00:00,0.0,18.5,19.0,0.0,21.0,0,20293.0

### Save updates

In [98]:
L_upd_T.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\ArchiveBis\L_upd_T2.csv", index=False)
df_Fraud_upd_T.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\upd_T_2.csv",index=False)
df_full_T.to_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_full\Archive\df_full_T2.csv",index=False)

## Misclassification Fraud

### Load

In [18]:
file_name_m = "M9--21"  # with no .json
# file_name_m = "M1-8"  # with no .json

In [19]:
## Load New Fraud Data
path_fr_m = r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\1. ADAPT-LLM\Data_Fraud\Fraud_Clean_data_pre-anon\Misclassification\\"
df_fraud_new_m = pd.read_json(path_fr_m+file_name_m+".json")

In [20]:
## Load real data
df_real_M = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\Anonym Real Data\df_M_Real_anonym_uniformized.csv")

## Load last updates
df_fraud_last_upd_m = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\0. Classifier Data\df_fraud_last_upd\Archive\upd_M_1.csv")
L_M = pd.read_csv(r"C:\Users\LENOVO\Desktop\Payroll_PFE\Payroll Fraud Detection\4. Models\2. Classifier\MATCLE_Encoding\ArchiveBis\L_upd_M1.csv")

In [21]:
df_fraud_last_upd_m

,PersonID,Seniority_previous_company(N-2) (in days),Contract_in_group_duration (in days),Seniority_previous_company(N-1) (in days),Seniority_in_Group (in days),Contract_Date,Leave_Date,Entry_Date_Company_1,Sex,Contract Type,...,Position,Classification,Work_form,CODSOR,Original_company,Leave_Category,Leave_Reason,Transfer_Reason,Transfer_company,Fraud
0,400000,0,16485,0,12400,18/01/2017,2050-12-31,01/01/1753,Mrs,DD,...,Employee,Employee E4,Full Time,Currently IN,TMG,Unspecified,Currently IN,Not Transferred,UNSPECFIED,3
1,400001,0,12667,NaN,11777,03/10/2018,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Supervisor,Full Time,Currently IN,TWW,Unspecified,Currently IN,Not Transferred,UNSPECFIED,3
2,400002,0,14400,0,13000,29/05/2015,2050-12-31,01/01/1753,Miss,DI,...,Manager/Director,Executive C3,Part Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECFIED,3
3,400003,0,12000,0,14880,05/04/2010,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Supervisor,Full Time,Currently IN,ITI,Unspecified,Currently IN,Not Transferred,UNSPECFIED,3
4,400004,0,11990,"1096,00",12900,15/03/2022,2050-12-31,15/03/2019,Miss,DD,...,Employee,Employee E1,Full Time,Currently IN,PRO,Transfer,TRA,Voluntary,TWW,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,400044,0,11111,0,12330,29/03/2017,31/12/2050,01/01/1753,Mr,DI,...,NaN,Employee E3,Full Time,Currently IN,IIS,Unspecified,Currently IN,Not Transferred,UNSPECFIED,3
374,400046,0,10000,1338,10000,14/07/2021,31/12/2050,14/11/2017,Mrs,DI,...,NaN,Employee E2,Full Time,Currently IN,SBS,End_Contract,End of Contract,Organisation,IMI,3
375,400048,0,10990,1096,11900,15/03/2022,31/12/2050,15/03/2019,Miss,DI,...,NaN,Employee E1,Full Time,Currently IN,ATX,Transfer,AUTRE,Voluntary,IIS,3
376,400050,0,13770,366,11200,02/02/2022,31/12/2050,01/02/2021,Mr,DD,...,NaN,Executive C2,Full Time,Currently IN,AFA,Transfer,End of Contract,Organisation,EXM,3
377,400052,0,13900,1481,12400,06/08/2024,31/12/2050,17/07/2020,Mrs,DD,...,NaN,Supervisor,Full Time,Currently IN,AFA,Transfer,End of Contract,Organisation,ATX,3

In [22]:
df_fraud_new_m

,PersonID,Seniority_previous_company(N-2) (in days),Contract_in_group_duration (in days),Seniority_previous_company(N-1) (in days),Seniority_in_Group (in days),Contract_Date,Leave_Date,Entry_Date_Company_1,Sex,Contract Type,...,Classification,Work_form,CODSOR,Original_company,Leave_Category,Leave_Reason,Transfer_Reason,Transfer_company,Explanation,Contract_Type
0,400032,0,16485,0,12400,18/01/2017,2050-12-31,01/01/1753,Mrs,DD,...,Employee E4,Full Time,Currently IN,TMG,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2017, she's been in the...",NaN
1,400034,0,12667,0,11777,03/10/2018,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,TWW,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2018, he's been in the ...",NaN
2,10001,3650,17280,0,1200,01/01/2017,2050-12-31,01/01/1753,Male,DI,...,Executive C3,Full Time,Currently IN,UNSPECIFIED,Unspecified,Currently IN,Not Transferred,UNSPECFIED,The employee has been in the company for 9 yea...,NaN
3,400038,0,12000,0,14880,05/04/2010,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,ITI,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2010, he's been in the ...",NaN
4,400040,0,11990,"1096,00",12900,15/03/2022,2050-12-31,15/03/2019,Miss,DD,...,Employee E1,Full Time,Currently IN,PRO,Transfer,TRA,Voluntary,TWW,Employee transferred after end of contract wit...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,400054,0,12135,0,13135,10/10/2020,31/12/2050,01/01/1753,Mrs,DI,...,Mgr/Director,Full Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2020, she's been in the...",NaN
556,400056,0,14135,0,15135,10/10/2024,31/12/2050,01/01/1753,Mr,DI,...,Executive,Full Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECIFIED,"Contract Entry Date is 2024, he's been in the ...",NaN
557,400058,0,16135,0,17135,10/10/2018,31/12/2050,01/01/1753,Mr,DI,...,Executive,Full Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2028, he's been in the ...",NaN
558,400060,0,18135,0,19135,10/10/2016,31/12/2050,01/01/1753,Mr,DI,...,Executive,Full Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2016, he's been in the ...",NaN
559,400062,0,20135,0,21135,10/10/2014,31/12/2050,01/01/1753,Mr,DI,...,Executive,Full Time,Currently IN,EUR,Unspecified,Currently IN,Not Transferred,UNSPECFIED,"Contract Entry Date is 2014, he's been in the ...",NaN

In [23]:
L_M

      Coded
0    400335
1    400336
2    400337
3    400338
4    400339
..      ...
660  400995
661  400996
662  400997
663  400998
664  400999

[665 rows x 1 columns]

In [30]:
# L_M = L_M.iloc[1:].reset_index(drop=True)
# L_M = L_M.tail(-1)

### Process

In [24]:
L_upd_M, df_Fraud_upd_M, df_full_M = append_Last_Update_Fraud_Misc(df_fraud_new_m, df_fraud_last_upd_m, df_real_M, L_M)

(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)
(665, 1)

In [29]:
df_Fraud_upd_M['PersonID'].unique()
# df_Fraud_upd_M

array([400335, 400336, 400337, 400338, 400339, 400340, 400341, 400342,
       400343, 400344, 400345, 400346, 400347, 400348, 400349, 400350,
       400351, 400352, 400353, 400354, 400355, 400356, 400357, 400358,
       400359, 400360, 400361, 400362, 400363, 400364, 400365, 400366,
       400367, 400368, 400369, 400370, 400371, 400372, 400373, 400374,
       400375, 400376, 400377, 400378, 400379, 400380, 400381, 400382,
       400383, 400384, 400385, 400386, 400387, 400388, 400389, 400390,
       400391, 400392, 400393, 400394, 400395, 400396, 400397, 400398,
       400399, 400400, 400401, 400402, 400403, 400404, 400405, 400406,
       400407, 400408, 400409, 400410, 400411, 400412, 400413, 400414,
       400415, 400416, 400417, 400418, 400419, 400420, 400421, 400422,
       400423, 400424, 400425, 400426, 400427, 400428, 400429, 400430,
       400431, 400432, 400433, 400434, 400435, 400436, 400437, 400438,
       400439, 400440, 400441, 400442, 400443, 400444, 400445, 400446,
       400447, 400448, 400449, 400450, 400451, 400452, 400453, 400454,
       400455, 400456, 400457, 400458, 400459, 400460, 400461, 400462,
       400463, 400464, 400465, 400466, 400467, 400468, 400469, 400470,
       400471, 400472, 400473, 400474, 400475, 400476, 400477, 400478,
       400479, 400480, 400481, 400482, 400483, 400484, 400485, 400486,
       400487, 400488, 400489, 400490, 400491, 400492, 400493, 400494,
       400495, 400496, 400497, 400498, 400499, 400500, 400501, 400502,
       400503, 400504, 400505, 400506, 400507, 400508, 400509, 400510,
       400511, 400512, 400513, 400514, 400515, 400516, 400517, 400518,
       400519, 400520, 400521, 400522, 400523, 400524, 400525, 400526,
       400527, 400528, 400529, 400530, 400531, 400532, 400533, 400534,
       400535, 400536, 400537, 400538, 400539, 400540, 400541, 400542,
       400543, 400544, 400545, 400546, 400547, 400548, 400549, 400550,
       400551, 400552, 400553, 400554, 400555, 400556, 400557, 400558,
       400559, 400560, 400561, 400562, 400563, 400564, 400565, 400566,
       400567, 400568, 400569, 400570, 400571, 400572, 400573, 400574,
       400575, 400576, 400577, 400578, 400579, 400580, 400581, 400582,
       400583, 400584, 400585, 400586, 400587, 400588, 400589, 400590,
       400591, 400592, 400593, 400594, 400595, 400596, 400597, 400598,
       400599, 400600, 400601, 400602, 400603, 400604, 400605, 400606,
       400607, 400608, 400609, 400610, 400611, 400612, 400613, 400614,
       400615, 400616, 400617, 400618, 400619, 400620, 400621, 400622,
       400623, 400624, 400625, 400626, 400627, 400628, 400629, 400630,
       400631, 400632, 400633, 400634, 400635, 400636, 400637, 400638,
       400639, 400640, 400641, 400642, 400643, 400644, 400645, 400646,
       400647, 400648, 400649, 400650, 400651, 400652, 400653, 400654,
       400655, 400656, 400657, 400658, 400659, 400660, 400661, 400662,
       400663, 400664, 400665, 400666, 400667, 400668, 400669, 400670,
       400671, 400672, 400673, 400674, 400675, 400676, 400677, 400678,
       400679, 400680, 400681, 400682, 400683, 400684, 400685, 400686,
       400687, 400688, 400689, 400690, 400691, 400692, 400693, 400694,
       400695, 400696, 400697, 400698, 400699, 400700, 400701, 400702,
       400703, 400704, 400705, 400706, 400707, 400708, 400709, 400710,
       400711, 400712, 400713, 400714, 400715, 400716, 400717, 400718,
       400719, 400720, 400721, 400722, 400723, 400724, 400725, 400726,
       400727, 400728, 400729, 400730, 400731, 400732, 400733, 400734,
       400735, 400736, 400737, 400738, 400739, 400740, 400741, 400742,
       400743, 400744, 400745, 400746, 400747, 400748, 400749, 400750,
       400751, 400752, 400753, 400754, 400755, 400756, 400757, 400758,
       400759, 400760, 400761, 400762, 400763, 400764, 400765, 400766,
       400767, 400768, 400769, 400770, 400771, 400772, 400773, 400774,
       400775, 400776, 400777, 400778, 400779, 400780, 400781, 400782,
       400783, 400784, 400785, 400786, 400787, 400788, 400789, 400790,
       400791, 400792, 400793, 400794, 400795, 400796, 400797, 400798,
       400799, 400800, 400801, 400802, 400803, 400804, 400805, 400806,
       400807, 400808, 400809, 400810, 400811, 400812, 400813, 400814,
       400815, 400816, 400817, 400818, 400819, 400820, 400821, 400822,
       400823, 400824, 400825, 400826, 400827, 400828, 400829, 400830,
       400831, 400832, 400833, 400834, 400835, 400836, 400837, 400838,
       400839, 400840, 400841, 400842, 400843, 400844, 400845, 400846,
       400847, 400848, 400849, 400850, 400851, 400852, 400853, 400854,
       400855, 400856, 400857, 400858, 400859, 400860, 400861, 400862,
       400863, 400864, 400865, 400866, 400867, 400868, 400869, 400870,
       400871, 400872, 400873, 400874, 400875, 400876, 400877, 400878,
       400879, 400880, 400881, 400882, 400883, 400884, 400885, 400886,
       400887, 400888, 400889, 400890, 400891, 400892, 400893, 400894,
       400000, 400001, 400002, 400003, 400004, 400005, 400006, 400007,
       400008, 400009, 400010, 400011, 400012, 400013, 400014, 400015,
       400016, 400017, 400018, 400019, 400020, 400021, 400022, 400023,
       400024, 400025, 400026, 400027, 400028, 400029, 400030, 400031,
       400032, 400033, 400034, 400035, 400036, 400037, 400038, 400039,
       400040, 400041, 400042, 400043, 400044, 400045, 400046, 400047,
       400048, 400049, 400050, 400051, 400052, 400053, 400054, 400055,
       400056, 400057, 400058, 400059, 400060, 400061, 400062, 400063,
       400064, 400065, 400066, 400067, 400068, 400069, 400070, 400071,
       400072, 400073, 400074, 400075, 400076, 400077, 400078, 400079,
       400080, 400081, 400082, 400083, 400084, 400085, 400086, 400087,
       400088, 400089, 400090, 400091, 400092, 400093, 400094, 400095,
       400096, 400097, 400098, 400099, 400100, 400101, 400102, 400103,
       400104, 400105, 400106, 400107, 400108, 400109, 400110, 400111,
       400112, 400113, 400114, 400115, 400116, 400117, 400118, 400119,
       400120, 400121, 400122, 400123, 400124, 400125, 400126, 400127,
       400128, 400129, 400130, 400131, 400132, 400133, 400134, 400135,
       400136, 400137, 400138, 400139, 400140, 400141, 400142, 400143,
       400144, 400145, 400146, 400147, 400148, 400149, 400150, 400151,
       400152, 400153, 400154, 400155, 400156, 400157, 400158, 400159,
       400160, 400161, 400162, 400163, 400164, 400165, 400166, 400167,
       400168, 400169, 400170, 400171, 400172, 400173, 400174, 400175,
       400176, 400177, 400178, 400179, 400180, 400181, 400182, 400183,
       400184, 400185, 400186, 400187, 400188, 400189, 400190, 400191,
       400192, 400193, 400194, 400195, 400196, 400197, 400198, 400199,
       400200, 400201, 400202, 400203, 400204, 400205, 400206, 400207,
       400208, 400209, 400210, 400211, 400212, 400213, 400214, 400215,
       400216, 400217, 400218, 400219, 400220, 400221, 400222, 400223,
       400224, 400225, 400226, 400227, 400228, 400229, 400230, 400231,
       400232, 400233, 400234, 400235, 400236, 400237, 400238, 400239,
       400240, 400241, 400242, 400243, 400244, 400245, 400246, 400247,
       400248, 400249, 400250, 400251, 400252, 400253, 400254, 400255,
       400256, 400257, 400258, 400259, 400260, 400261, 400262, 400263,
       400264, 400265, 400266, 400267, 400268, 400269, 400270, 400271,
       400272, 400273, 400274, 400275, 400276, 400277, 400278, 400279,
       400280, 400281, 400282, 400283, 400284, 400285, 400286, 400287,
       400288, 400289, 400290, 400291, 400292, 400293, 400294, 400295,
       400296, 400297, 400298, 400299, 400300, 400301, 400302, 400303,
       400304, 400305, 400306, 400307, 400308, 400309, 400310, 400311,
       400312, 400313, 400314, 400315, 400316, 400317, 400318, 400319,
       400320, 400321, 400322, 400323, 400324, 400325, 400326, 400327,
       400328, 400329, 400330, 400331, 400332, 400333, 400334],
      dtype=int64)

In [25]:
df_full_M

,PersonID,Seniority_previous_company(N-2) (in days),Contract_in_group_duration (in days),Seniority_previous_company(N-1) (in days),Seniority_in_Group (in days),Contract_Date,Leave_Date,Entry_Date_Company_1,Sex,Contract Type,...,Classification,Work_form,CODSOR,Original_company,Leave_Category,Leave_Reason,Transfer_Reason,Transfer_company,Contract_Type,Fraud
0,400335,0,16485,0,12400,18/01/2017,2050-12-31,01/01/1753,Mrs,DD,...,Employee E4,Full Time,Currently IN,TMG,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
1,400336,0,12667,0,11777,03/10/2018,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,TWW,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
2,400337,3650,17280,0,1200,01/01/2017,2050-12-31,01/01/1753,Male,DI,...,Executive C3,Full Time,Currently IN,UNSPECIFIED,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
3,400338,0,12000,0,14880,05/04/2010,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,ITI,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
4,400339,0,11990,"1096,00",12900,15/03/2022,2050-12-31,15/03/2019,Miss,DD,...,Employee E1,Full Time,Currently IN,PRO,Transfer,TRA,Voluntary,TWW,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5623,14685,0,48,96470,51,2017-02-16,2012-11-21 00:00:00,2012-10-01,Mr,DI,...,Employee,Full Time,Left,TWW,VOLUNT,ABN,Not Transferred,Undefined,NaN,0
5624,14686,0,51,94871,48,2012-10-01,2017-04-05 00:00:00,2017-02-16,Mr,DI,...,Employee,Full Time,Left,TWW,VOLUNT,ABN,Not Transferred,Undefined,NaN,0
5625,14687,0,48,96470,48,2017-02-16,2017-04-05 00:00:00,2017-02-16,Mr,DI,...,Employee,Full Time,Left,TWW,VOLUNT,ABN,Not Transferred,Undefined,NaN,0
5626,14688,0,8,94864,8,2012-09-24,2012-10-02 00:00:00,2012-09-24,Mr,DI,...,Employee,Full Time,Left,TWW,VOLUNT,ABN,Not Transferred,Undefined,NaN,0
5627,14689,0,3817,94871,3817,2012-10-01,2023-03-15 00:00:00,2012-10-01,Mr,DI,...,Employee,Full Time,Left,TWW,ENDCTR,Currently IN,Not Transferred,Undefined,NaN,0

In [28]:
df_Fraud_upd_M

,PersonID,Seniority_previous_company(N-2) (in days),Contract_in_group_duration (in days),Seniority_previous_company(N-1) (in days),Seniority_in_Group (in days),Contract_Date,Leave_Date,Entry_Date_Company_1,Sex,Contract Type,...,Classification,Work_form,CODSOR,Original_company,Leave_Category,Leave_Reason,Transfer_Reason,Transfer_company,Contract_Type,Fraud
0,400335,0,16485,0,12400,18/01/2017,2050-12-31,01/01/1753,Mrs,DD,...,Employee E4,Full Time,Currently IN,TMG,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
1,400336,0,12667,0,11777,03/10/2018,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,TWW,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
2,400337,3650,17280,0,1200,01/01/2017,2050-12-31,01/01/1753,Male,DI,...,Executive C3,Full Time,Currently IN,UNSPECIFIED,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
3,400338,0,12000,0,14880,05/04/2010,2050-12-31,01/01/1753,Mr,DI,...,Supervisor,Full Time,Currently IN,ITI,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
4,400339,0,11990,"1096,00",12900,15/03/2022,2050-12-31,15/03/2019,Miss,DD,...,Employee E1,Full Time,Currently IN,PRO,Transfer,TRA,Voluntary,TWW,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,400044,0,11111,0,12330,29/03/2017,31/12/2050,01/01/1753,Mr,DI,...,Employee E3,Full Time,Currently IN,IIS,Unspecified,Currently IN,Not Transferred,UNSPECFIED,NaN,3
934,400046,0,10000,1338,10000,14/07/2021,31/12/2050,14/11/2017,Mrs,DI,...,Employee E2,Full Time,Currently IN,SBS,End_Contract,End of Contract,Organisation,IMI,NaN,3
935,400048,0,10990,1096,11900,15/03/2022,31/12/2050,15/03/2019,Miss,DI,...,Employee E1,Full Time,Currently IN,ATX,Transfer,AUTRE,Voluntary,IIS,NaN,3
936,400050,0,13770,366,11200,02/02/2022,31/12/2050,01/02/2021,Mr,DD,...,Executive C2,Full Time,Currently IN,AFA,Transfer,End of Contract,Organisation,EXM,NaN,3
937,400052,0,13900,1481,12400,06/08/2024,31/12/2050,17/07/2020,Mrs,DD,...,Supervisor,Full Time,Currently IN,AFA,Transfer,End of Contract,Organisation,ATX,NaN,3

#### Updates are Autosaved for this case
---------------------------------------

-----------------------------------------
## Note : UPDATE saving & Load versions + Move to Archive folders

- Move L_M to ArchiveBis Folder to avoid overwriting it. (cntr+F :    ArchiveBis\L_M    )
- Increment version in L_upd, df_upd ...

--- Done  ---